@import "../../../../theme/custom-variables";

.taste-item__icon {
    border-radius: 16px;
    margin-left: -6px;
    
    .icon-inner {
        visibility: hidden;
    }
}

.taste-item__label {
    letter-spacing: 1px;
}

@each $color in $tasteColors {
    .taste-item.ion-color-#{$color}.selected {
        background: var(--ion-color-#{$color}-shade);
        color: var(--ion-color-herbs-contrast);
    }

    .taste-item.ion-color-#{$color}.taste-item__label {
        background: var(--ion-color-#{$color});

        .icon-inner {
            visibility: visible;
        }
    }
}