<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="wines"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Wine</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-base-data></app-base-data>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" size="large" slot="start"></ion-icon>
    </ion-buttons>
    <ion-buttons>
      <ion-icon name="document-outline" size="large"></ion-icon>
      <ion-icon name="nutrition-outline" size="large"></ion-icon>
      <ion-icon name="restaurant-outline" size="large"></ion-icon>
      <ion-icon name="star-half-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="chevron-forward-outline" size="large" slot="end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>