<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="wines"></ion-back-button>
    </ion-buttons>
    <ion-title *transloco="let t">{{t('addWine')}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="wineForm">
    <ng-container [ngSwitch]="wizardConfig?.selectedStep.key">
      <app-base-data *ngSwitchCase="'base'" [formGroup]="wineForm.get('base')"></app-base-data>
      <app-nose *ngSwitchCase="'nose'" [formGroup]="wineForm.get('nose')"></app-nose>
      <app-palate *ngSwitchCase="'palate'"></app-palate>
      <app-summary *ngSwitchCase="'rating'"></app-summary>
    </ng-container>
  </form>
</ion-content>
<ion-footer>
  <app-wizard-stepper [config]="wizardConfig"></app-wizard-stepper>
</ion-footer>