<ion-list *transloco="let t" [formGroup]="formGroup">
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Basic Information</ion-label>
    </ion-item-divider>
  </ion-item-group>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Year</ion-label>
    <ion-input type="number" formControlName="year"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{ t('Producer')}}</ion-label>
    <ion-input formControlName="producer"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tasted on</ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY" formControlName="tastedOn"></ion-datetime>
  </ion-item>
  <app-grapes-selection formControlName="grapes"></app-grapes-selection>
</ion-list>
{{formGroup.get('grapes').value}}