<div class="tastes">
  <ion-grid>
    <ng-container *ngFor="let category of typedTastesOptions?.categories | keyvalue;let i = index">
      <ion-row class="tastes-row">
        <ion-col size="12">
          <app-taste-category [category]="category.key"></app-taste-category>
        </ion-col>
        <ion-col size="4" *ngFor="let taste of category.value">
          <app-taste-item [tasteKey]="taste.tasteKey" [tasteCategory]="category.key"></app-taste-item>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</div>