<ion-list>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Year</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Producer</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tasted on</ion-label>
    <ion-datetime [value]="undefined" displayFormat="DD.MM.YYYY"></ion-datetime>
  </ion-item>
</ion-list>