<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="back()">
      <ion-icon name="chevron-back-outline" size="large" slot="start"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons>
    <ion-button *ngFor="let step of wizardSteps" (click)="setStep(step)">
      <ion-icon [name]="step.icon" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="forward()">
      <ion-icon name="chevron-forward-outline" size="large" slot="end"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>