<ion-header>
  <ion-toolbar *transloco="let t">
    <ion-title>Modal Content</ion-title>
    <ion-buttons slot="end">
      <ion-button onclick="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div *transloco="let t">{{t(tasteKey)}}</div>
  <div>
    <app-taste-item-button-detail-component [tasteQualifiers]="tasteQualifiers"
      [tasteTimeQuantifiers]="tasteTimeQuantifiers"></app-taste-item-button-detail-component>
  </div>
</ion-content>