<ion-header>
  <ion-toolbar *transloco="let t">
    <ion-title>{{t('tasteDetail')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal($event)">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <div>
    <app-taste-item-button-detail-component [tasteKey]="taste.tasteKey" [tasteQualifiers]="tasteQualifiers"
      (finishedEdit)="finishEdit($event)" [tasteTimeQuantifiers]="tasteTimeQuantifiers">
    </app-taste-item-button-detail-component>
  </div>
</ion-content>