$tasteColors: ("earth", "herbs", "citrus", "fruit", "tropicalFruit", "redFruit");

:root{
    --ion-color-earth: #5f453a;
    --ion-color-earth-rgb: 95,69,58;
    --ion-color-earth-contrast: #ffffff;
    --ion-color-earth-contrast-rgb: 255,255,255;
    --ion-color-earth-shade: #543d33;
    --ion-color-earth-tint: #6f584e;

    --ion-color-herbs: #5f453a;
    --ion-color-herbs-rgb: 95,69,58;
    --ion-color-herbs-contrast: #ffffff;
    --ion-color-herbs-contrast-rgb: 255,255,255;
    --ion-color-herbs-shade: #543d33;
    --ion-color-herbs-tint: #6f584e;

    --ion-color-citrus: #6d6303;
    --ion-color-citrus-rgb: 109,99,3;
    --ion-color-citrus-contrast: #ffffff;
    --ion-color-citrus-contrast-rgb: 255,255,255;
    --ion-color-citrus-shade: #605703;
    --ion-color-citrus-tint: #7c731c;

    --ion-color-fruit: #6d6303;
    --ion-color-fruit-rgb: 109,99,3;
    --ion-color-fruit-contrast: #ffffff;
    --ion-color-fruit-contrast-rgb: 255,255,255;
    --ion-color-fruit-shade: #605703;
    --ion-color-fruit-tint: #7c731c;

    --ion-color-tropicalFruit: #8a5300;
    --ion-color-tropicalFruit-rgb: 138,83,0;
    --ion-color-tropicalFruit-contrast: #ffffff;
    --ion-color-tropicalFruit-contrast-rgb: 255,255,255;
    --ion-color-tropicalFruit-shade: #794900;
    --ion-color-tropicalFruit-tint: #96641a;

    --ion-color-redFruit: #8d1b4d;
    --ion-color-redFruit-rgb: 141,27,77;
    --ion-color-redFruit-contrast: #ffffff;
    --ion-color-redFruit-contrast-rgb: 255,255,255;
    --ion-color-redFruit-shade: #7c1844;
    --ion-color-redFruit-tint: #98325f; 
}


@each $color in $tasteColors {
    .ion-color-#{color} {
        --ion-color-base: var(--ion-color-#{$color}) !important;
        --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
        --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
        --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
    }
}

/*
.earth.taste-category {
    background: var(--earth-category-background);
}

.earth.taste-category-title {
    color: var(--earth-category-title-color);
}

.earth.taste,
.earth .taste {
    background: var(--earth-taste-background);
}

.herbs.taste-category {
    background: var(--herbs-category-background);
}

.herbs.taste-category-title {
    color: var(--herbs-category-title-color);
}

.herbs.taste,
.herbs .taste {
    background: var(--herbs-taste-background);
}

.citrus.taste-category {
    background: var(--citrus-category-background);
}

.citrus.taste-category-title {
    color: var(--citrus-category-title-color);
}

.citrus.taste,
.citrus .taste {
    background: var(--citrus-taste-background);
}

.fruit.taste-category {
    background: var(--fruit-category-background);
}

.fruit.taste-category-title {
    color: var(--fruit-category-title-color);
}

.fruit.taste,
.fruit .taste {
    background: var(--fruit-taste-background);
}

.tropicalFruit.taste-category {
    background: var(--tropicalFruit-category-background);
}

.tropicalFruit.taste-category-title {
    color: var(--tropicalFruit-category-title-color);
}

.tropicalFruit.taste,
.tropicalFruit .taste {
    background:  var(--tropicalFruit-taste-background);
}

.redFruit.taste-category {
    background: var(--redFruit-category-background);
}

.redFruit.taste-category-title {
    color: var(--redFruit-category-title-color);
}

.redFruit.taste,
.redFruit .taste {
    background: var(--redFruit-taste-background);
}*/