@import "custom-variables";

:root{
    --ion-color-earth: #5f453a;
    --ion-color-earth-rgb: 95,69,58;
    --ion-color-earth-contrast: #ffffff;
    --ion-color-earth-contrast-rgb: 255,255,255;
    --ion-color-earth-shade: #543d33;
    --ion-color-earth-tint: #6f584e;

    --ion-color-herbs: #50660F;
    --ion-color-herbs-rgb: 80,102,15;
    --ion-color-herbs-contrast: #ffffff;
    --ion-color-herbs-contrast-rgb: 255,255,255;
    --ion-color-herbs-shade: #465a0d;
    --ion-color-herbs-tint: #627527;

    --ion-color-citrus: #eaea15;
    --ion-color-citrus-rgb: 234,234,21;
    --ion-color-citrus-contrast: #000000;
    --ion-color-citrus-contrast-rgb: 0,0,0;
    --ion-color-citrus-shade: #cece12;
    --ion-color-citrus-tint: #ecec2c;

    --ion-color-fruit: #edbb52;
    --ion-color-fruit-rgb: 237,187,82;
    --ion-color-fruit-contrast: #000000;
    --ion-color-fruit-contrast-rgb: 0,0,0;
    --ion-color-fruit-shade: #d1a548;
    --ion-color-fruit-tint: #efc263;

    --ion-color-tropicalFruit: #ff8000;
    --ion-color-tropicalFruit-rgb: 255,128,0;
    --ion-color-tropicalFruit-contrast: #000000;
    --ion-color-tropicalFruit-contrast-rgb: 0,0,0;
    --ion-color-tropicalFruit-shade: #e07100;
    --ion-color-tropicalFruit-tint: #ff8d1a;

    --ion-color-redFruit: #8d1b4d;
    --ion-color-redFruit-rgb: 141,27,77;
    --ion-color-redFruit-contrast: #ffffff;
    --ion-color-redFruit-contrast-rgb: 255,255,255;
    --ion-color-redFruit-shade: #7c1844;
    --ion-color-redFruit-tint: #98325f; 
}


@each $color in $tasteColors {
    .ion-color-#{$color} {
        --ion-color-base: var(--ion-color-#{$color}) !important;
        --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
        --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
        --ion-color-contrast-rgb: var(--ion-color-#{$color}-contrast-rgb) !important;
        --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
        --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
    }

    .ion-color-icon-#{$color} {
        background: rgba(var(--ion-color-#{$color}-rgb), 0.25);
    }
}