<ion-item-group>
  <ion-item-divider>
    <ion-label>Grapes<br />Add a Favorite and/or from the lists below</ion-label>
  </ion-item-divider>
</ion-item-group>
<ion-item>
  <ion-label position="stacked">Favorites</ion-label>
  <p>
    <ng-container *ngFor="let favorite of favoriteGrapes | async">
      <ion-chip (focus)="onTouched()" disabled="isFavoriteDisabled(favorite)" size="small" color="secondary" (click)="onFavoriteClick(favorite)">
        {{favorite.name}}
      </ion-chip>
    </ng-container>
  </p>
</ion-item>
<ion-item>
  <ion-label position="stacked">Red Grapes</ion-label>
  <ion-select [value]="grapeSelectValues.red" #redGrapeSelect multiple="true" name="red" placeholder="no red grapes" 
    (ionChange)="onRedGrapeSelectChanged($event)" (ionFocus)="onTouched()">
    <ion-select-option *ngFor="let redGrape of redGrapes | async">{{redGrape.name}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked">White Grapes</ion-label>
  <ion-select [value]="grapeSelectValues.white" #whiteGrapeSelect multiple="true" name="white" placeholder="no white grapes" 
  (ionChange)="onWhiteGrapeSelectChanged($event)" (ionFocus)="onTouched()">
    <ion-select-option *ngFor="let whiteGrape of whiteGrapes | async">{{whiteGrape.name}}</ion-select-option>
  </ion-select>
</ion-item>