* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    margin: 0;
    --base-padding: 3px;
    --double-padding: calc(2 * var(--base-padding));
}

.taste-category {
    padding: var(--base-padding);
}

.taste-category.earth,
.taste-category.earth .taste  {
    background: rgba(198, 163, 128, 0.52);
}

.taste-category.earth .taste-category__description {
    color: rgb(95, 69, 43);
}

.taste-category.herbs .taste-category__description {
    color: rgb(80, 102, 15);
}

.taste-category.citrus .taste-category__description {
    color: rgb(109, 99, 3);
}

.taste-category.fruit .taste-category__description {
    color: rgb(112, 84, 0);
}

.taste-category.tropicalFruit .taste-category__description {
    color: rgb(138, 83, 0);
}

.taste-category.redFruit .taste-category__description {
    color: rgb(141, 27, 38);
}

.taste-category.herbs,
.taste-category.herbs .taste {
    background: rgba(190, 228, 74, 0.36);
}

.taste-category.citrus,
.taste-category.citrus .taste {
    background: rgba(251, 236, 101, 0.49);
}

.taste-category.fruit,
.taste-category.fruit .taste {
    background: rgba(255, 193, 7, 0.18);
}

.taste-category.tropicalFruit,
.taste-category.tropicalFruit .taste {
    background: rgba(255, 195, 105, 0.45);
}

.taste-category.redFruit,
.taste-category.redFruit .taste {
    background: rgba(220, 70, 85, 0.3);
}

.taste-category__description {
    font-size: 12px;
    margin: 6px 0 0px 3px;
}

.tastes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 6px;
}

.taste {
    --size: calc(25% - 2*var(--base-padding));
    cursor: pointer;
    /*background: white;*/
    position: relative;
    width: var(--size);
    text-align: center;
    margin: 4px 3px;
    /*border-radius: var(--base-padding);
    box-shadow: 1px 1px 2px 0px #80808057;*/
}

.taste.taste.selected {
    background: #80808078;
}

.taste::before {
    display: block;
    content: "";
    margin-top: 75%;
}

.taste__content {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: var(--double-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taste__icon {
    width: 50%;
    height: 50%;
    flex: 0 0 50%;
}

.taste__description-container {
    margin: 0;
    font-size: 11px;
    text-align: center;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#taste-edit-dialog {
    display: none;
    color: #000000a8;
}

#taste-edit-dialog.open {
    display: block;
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
}

.taste-edit__header {
    height: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taste-edit__title {
    text-align: center;
}

.taste-edit__headline {
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
}

.taste-edit__headline.taste-title {
    margin-top: 1rem;
}

.taste-edit__headline.i-smell {
    margin-bottom: 1rem;
}

.taste-edit__back {
    position: absolute;
    top: 0.5rem;
    right: 0;
    text-align: right;
    transform: translateX(-100%);
    font-size: 1.25rem;
    color: #00000080;
}

.title-icon {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    text-align: center;
    margin: 0 auto;
    background: #d8bb663d;
    padding: 1rem;
}

.title-icon__svg {
    width: 100%;
    height: 100%;
}

.taste-edit__details {
    padding: 0 0.5rem;
}

.detail-button.selected {
    background: hsla(231, 48%, 34%, 1);
}

.btn.taste-edit__ok {
    margin-top: 2rem;
    width: 100%;
    background: #8BC34A;
    font-size: 1rem;
    font-weight: bold;
}

.taste-separator {
    text-align: center;
    margin: 0.25rem 0;
    color: #00000080;
}

ul.flat {
    margin:0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.flat li {
    margin: 6px 0;
    display: inline-block;
    margin-right: 0.25rem;
}

ul.flat li:last-child {
    margin-right: 0;
}

.btn {
    background: hsla(231, 48%, 58%, 1);
    border-radius: 3px;
    padding: 10px 16px;
    border: none;
    box-shadow: 1px 2px 3px 0px #00000070;
    color: white;
}

.default-margin {
    margin: 0 6px;
}

.taste-notes {
    font-size: 12px;
    border: 1px solid #0000003b;
    margin: 0 6px;
    padding: 8px;
}

.notes-title {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}